body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1,
h2,
h3 {
    font-family: 'Playfar Display', serif;
    line-height: 1.6;
}
h1 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
h2 {
    margin-top: 20px;
    text-decoration: underline;
}
h3 {
    font-style: italic;
}
p {
    text-indent: 20px;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 18px;
    line-height: 1.8;

}
a {
    color: #1a73e8;
    text-decoration: none;
}
a:hover {
    color: red;
}
blockquote {
    background: #eee;
    padding: 10px 20px;
    border-left: 5px solid #0077cc;
    margin: 20px 0;
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: italic;
    font-size: 18px;
    font-weight: 200;
    word-spacing: 10px;
    line-height: 1.6;
}
ul {
    padding-left: 20px;
    line-height: 1.8;
    font-size: 16px;
}
pre {
    background: #333;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    color: #eee;
    line-height: 1.7;
}
.highlight {
    background-color: yellow;
}
